<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href='{{ STATIC_URL }}css/display.css' rel='stylesheet'>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div id='id-content'>
            <div id='id-container' class='container-fluid'>
                <div class='row-fluid'>
                    <div id='id-main-message' class='span12'>{{ total_subscribers }}</div>
                </div>
                <br />
                <div class='row-fluid info-panels'>
                    <div id='left-info' class='span6'>
                        One
                    </div>
                    <div id='right-info' class='span6'>
                        Two
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script>
            var $main_message = $('#id-main-message');

            function update_users() {
                $.getJSON({% url data %}, function(data) {
                    var total_subscribers = data.total_subscribers;
                    $main_message.html(total_subscribers);
                    console.log(data);
                });
            }

            window.setInterval(update_users, 30000);
        </script>
    </body>
</html>
